@media (min-width: 300px) {
    body {
        background-color: lightgray;
    }
nav {
    font-size: 20px;
    background-color: rgb(41, 41, 41);
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px 75px;
}

nav img {
    position: absolute;
    left: 10px;
    top: 10px;
}
    .section1 {
        text-align: center;
    }
    .section2 {
        text-align: center;
    }
    .art3 img {
        width: 600px;
    }
    .title {
        background-color: rgb(41,41,41);
        color: white;
        text-align: center;
    }
    .art1, .art2, .art3, .art4 {
        background-color: rgb(41, 41, 41);
        color: white;
    }
}
@media (min-width: 1024px) {
    body {
        background-color: lightgray;
    }
    nav {
        font-size: 20px;
        background-color: rgb(41,41,41);
        padding-bottom: 30px;
        padding-top: 30px;
        text-align: center;
    }
    nav a {
        color: white;
        text-decoration: none;
        padding: 20px 75px;
    }
    nav img {
        position: absolute;
        left: 10px;
        top: 10px;
    }
    a:hover {
        background-color: gray;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);
    }
    .box {
    }
    .section1 {
        text-align: left;
        padding-top: 10px;
        padding-right: 20px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .section2 {
        text-align: left;
        padding-top: 10px;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .section2 img {
        padding-bottom: 10px;
    }
    .title {
        background-color: rgb(41,41,41);
        color: white;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .title h1 {
        text-align: center;
        font-size: 30px;
    }
    .art1 {
        background-color: rgb(41,41,41);
        color: white;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 10;
        padding: 10px;
    }
    .art2 {
        background-color: rgb(41,41,41);
        color: white;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 10;
        padding: 10px;
    }
    .art2 h1 {
        text-align: center;
    }
    .art3 {
        background-color: rgb(41,41,41);
        color: white;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 10;
        padding: 10px;
    }
    .art4 {
        background-color: rgb(41,41,41);
        color: white;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 10;
        padding: 10px;
    }
    .footer {

    }
}
