@media all and (min-width: 300px) {
    body {
        background-color: lightgray;
    }

    nav {
        font-size: 20px;
        background-color: rgb(41, 41, 41);
        padding-bottom: 30px;
        padding-top: 30px;
        text-align: center;
    }

    nav a {
        color: white;
        text-decoration: none;
        padding: 20px 75px;
    }

    nav img {
        position: absolute;
        left: 10px;
        top: 10px;
    }
}
@media all and (min-width: 768px) {
    body {
        background-color: red;
    }

}
